{% extends 'base.html.twig' %}

{% block title %}Movie
{% endblock %}

{% block body %}

	<a style="color:white; font-size:20px; text-decoration: underline; margin-left: 3rem" href="{{ path('app_mood_index') }}">Retourner à la liste</a>
	<div class="container" style="margin-top: 3rem !important;">
		<h1>{{ movie.title }}</h1>

		<div id="table-container">
			<table>
				<thead>
					<tr>
						<th>Id</th>
						<th>Description</th>
						<th>Date de parution</th>
						<th>Description</th>
						<th>Video</th>

					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ movie.id }}</td>
						<td><img src="{{ movie.picture }}" alt="" width="180px"></td>
						<td>{{ movie.description }}</td>
						<td>{{ movie.date ? movie.date|date('Y-m-d') : '' }}</td>
						<td>
							<iframe width="150" src="{{ movie.urlVideo }}" title="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
						</td>

					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
