{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="container">
		<div class="login-form">
			<h1 class="login-title">S'inscrire</h1>
			{{ form_start(registrationForm) }}
			<div>
				{{ form_row(registrationForm.email) }}
			</div>
			<div>
				{{ form_row(registrationForm.plainPassword, {
						label: 'Password',
					}) }}
			</div>
			<button type="submit" class="btn btn--form">S'inscrire</button>
			{{ form_end(registrationForm) }}

			<p>Vous êtes déjà inscrit sur MoodFlix ?
				<a href="{{ path('app_login') }}">Connectez-vous.
				</a>
			</p>
		</div>
	</div>
	<div style="position: relative;">
		<img src="assets/clown-face.png" style="position: absolute; top: -90px; left: 240px; width: 90px; transform: rotate(-45deg);"/>

		<img src="assets/film-projector.png" style="position: absolute; top: -420px; right: 250px; width: 90px; transform: rotate(30deg);"/>
		<img src="assets/face-tears.png" style="position: absolute; bottom: 0; right: 258px; width: 90px; transform: rotate(45deg);"/>

		<img src="assets/pleading-face.png" style="position: absolute; bottom: 330px; left: 240px; width: 90px; transform: rotate(-30deg);"/>
	</div>
{% endblock %}
