{% extends 'base.html.twig' %}
{% block title %}Movie Detail
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}


{% block body %}

	<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #070E2D;
			text-align: center;
		}
		h1 {
			font-size: 36px;
			color: #536EE4;
			margin-bottom: 22px;
		}
		h2 {
			font-size: 24px;
			color: #536EE4;
			margin-bottom: 5px;
		}
		p {
			font-size: 18px;
			color: white;
			line-height: 1.5;
			margin-bottom: 20px;
			padding: 1rem;
		}
		.genre {
			background-color: white;
			padding: 15px 10px;
			border-radius: 5px;
			display: inline-block;
			margin-right: 10px;
			font-size: 16px;
			color: #536EE4;
			font-weight: bold;
			margin-top: 1rem;
		}

		img {
			width: 250px;
			border-radius: 8px;
		}
	</style>
</head>

<body>
	<h1>{{movie.title}}</h1>
	<img src="{{ movie.picture }}" alt="" width="200px">
	<br>
	<div class="genre">Action</div>
	<div class="genre">Adventure</div>
	<div class="genre">Science Fiction</div>
	<h2>Publication Date:</h2>
	<p>{{ movie.date ? movie.date|date('Y-m-d') : '' }}</p>
	<h2>Description:</h2>
	<p>{{movie.description}}</p>
	<p>Vidéo :</p>
	<iframe width="350px" height="200px" src="{{ movie.urlVideo }}" title="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</body> 
{% endblock %}
