<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
			| MoodFlix</title>
		<link rel="stylesheet" href="{{ asset('css/loginSignUpPage.css') }}">
		<link rel="stylesheet" href="{{ asset('css/movieDetail.css') }}">
		<link rel="stylesheet" href="{{ asset('css/homePage.css') }}">
		<link rel="stylesheet" href="{{ asset('css/crudTable.css') }}">
		<link rel="stylesheet" href="{{ asset('css/utilities.css') }}">
		<link
		rel="icon" href="../assets/logo.png">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>

	<body>
		{% if app.user %}
			<header class="header">
				<nav>
					<div class="logo">
						<img src="../../assets/logo.png"/>
					</div>
					{% if is_granted('ROLE_ADMIN') and app.user  %}
						<div class="adminButtons">
							<a href="{{ path('app_mood_index') }}">
								Moods List
							</a>

							<a href="{{ path('app_mood_index') }}">
								Movies List
							</a>
						</div>
					{% endif %}
					<div class="buttons">
						<a href="{{ path('app_logout') }}">
							<button>Se déconnecter</button>
						</a>
					</div>
				</nav>
			</header>
		{% endif %}
		{% block body %}{% endblock %}
	</body>
</html></body></html>
